// Fonts

@font-face {
    font-family: "inter";
    src: url(../fonts/static/Inter_18pt-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'impact';
    src: url(../fonts/Impact.ttf);
    font-weight: 400;
}