@use "./fonts";
@use "./variables";

body{
    font-family: 'inter';
    font-weight: 300;
    background-color: variables.$blanc-casse;
    color: #00684C;
}

h1, h2, h3, h4, h5 {
    font-family: 'impact' !important;
    font-weight: 400 !important;
}

*{
    box-sizing: border-box;
}