// PHI-CCC

//Common
@use 'common/fonts';
@use 'common/global';
@use 'common/variables';

//Component
@use 'Component/button';
@use 'Component/forms';

//Layout
@use 'Layout/header';
@use 'Layout/main';
@use 'Layout/footer';